/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {

	margin: 0;
	box-sizing: border-box;
}


header {
	background-color: #333333;
	font-family: ocr-a-std, monospace;
	font-style: normal;
	font-weight:400;
	color: #00ff00;
	border-bottom: 1px solid #000;
}


	.container > h1, em {
	display: inline-flex;
	vertical-align: top;
		horiz-align: center;
}

	.container > h1 {
		font-size: 3em;
	}

	.container > em {
	margin-left: 3em;
	margin-top: 4em;
}

section {
	background-color: white;
	align-content: center;
}

/*instructions section*/
div.instructions-wrapper {
	border: solid 5px black;
}

div.instructions-content {
	font-family: ocr-a-std, monospace;
}

section div.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.instructions-wrapper {
	display: flex;
	flex-direction: row;
	border-width: 2px;
	flex-basis: 50%;
}
.instructions-content {
	flex-basis: 75%;
}
img {
	display: inline-block;
}

/*captiain Kirk*/
.about-me {
	background-color: blue;
	align-content: center;
}

.form-wrapper {
	margin: 50px;
	background-color: darkgreen;
}

.instructions-wrapper {
	border: black;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/




